{% extends 'base.html' %}

{% block content %}
    <h1>Request a password reset</h1>

    {% if session['logged_in'] %}

    <p>You're already registered and logged in.</p>

    {% else %}

    <p>We will be glad to help you reset your password. Please enter your email in the space below and click Submit.</p>
    <p>If you have an email address registered with us, you will receive an email with further instructions.</p>

    <form action="{{ url_for('reset_response') }}" method="post">

        <div class="form-group">
        <label for="firstName">Email Address</label>
                <input type="email" name="eMail" placeholder="Email Address"
                    class="form-control"
                    required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Request Reset</button>
        </div>
    </form>
    <div>
        {{ msg }}
    </div>

    {% endif %}

{% endblock %}